<div class="ui-grid-menu" ng-if="shown">
    <style ui-grid-style>
        {
            {
                dynamicStyles
            }
        }
    </style>
    <md-menu md-offset="0 -5" class="ui-grid-menu-mid" ng-show="shownMid">
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin md-svg-icon="call:ring-volume"></md-icon>
        </md-button>
        <md-menu-content width="4" class="ui-grid-menu-inner">
            <md-menu-item ng-repeat="item in [1, 2, 3]" role="menu" class="ui-grid-menu-items">
                {{item}}
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    {{item}}
</div>

    <!--
    <div class="ui-grid-menu-mid" ng-show="shownMid">
        <div class="ui-grid-menu-inner">
            <ul role="menu" class="ui-grid-menu-items">
                <li ng-repeat="item in menuItems" role="menuitem" ui-grid-menu-item ui-grid-one-bind-id="'menuitem-'+$index" action="item.action" name="item.title" active="item.active" icon="item.icon" shown="item.shown" context="item.context" template-url="item.templateUrl" leave-open="item.leaveOpen" screen-reader-only="item.screenReaderOnly">
                </li>
            </ul>
        </div>
    </div>
-->
