<md-menu-content width="4" class="ui-grid-menu-inner">
    <ui-grid-menu-item ng-repeat="item in menuItems"
                       class="ui-grid-menu-items"
                       role="menuitem"
                       ui-grid-one-bind-id="'menuitem-'+$index"
                       action="item.action"
                       name="item.title"
                       active="item.active"
                       icon="item.icon"
                       shown="item.shown"
                       context="item.context"
                       template-url="item.templateUrl"
                       leave-open="item.leaveOpen"
                       screen-reader-only="item.screenReaderOnly">
        {{menuItems}}
    </ui-grid-menu-item>
</md-menu-content>
